hamburger-component {
  display: contents;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .hamburger-bars {
    display: block;
    cursor: pointer;
  }

  .hamburger-x {
    display: none;
    cursor: pointer;
  }

  .nav-btn {
    z-index: 10000;
  }

  .nav-menu {
    width: 0;
    height: 0;
    opacity: 0; /* Start as invisible */
    visibility: hidden; /* Hide visually */
  }
}

.open .hamburger {
  .hamburger-bars {
    display: none;
  }

  .hamburger-x {
    display: block;
  }

  .nav-menu {
    width: min(20rem, 90vw);
    height: 100vh;
    opacity: 1; /* Fade in */
    visibility: visible; /* Make visible */
    transition: width 0.5s ease, opacity 0.5s ease;
  }

  .nav-menu {
    z-index: 9999;

    position: fixed;
    top: calc(var(--header-size-small) + 2px);
    right: 0;
    /* padding-top: calc(var(--header-size-small) + 2px); */

    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;

    background: hsl(var(--accent-color-light) / 0.9);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Light border */

    a {
      display: block;
      padding: 1rem 1.2rem;
    }
    a:hover {
      background-color: var(--accent-color-light);
      color: var(--gra-white);
    }
  }
}
