.hamburger {
  .hamburger-bars,
  .hamburger-x {
    cursor: pointer;
  }

  .hamburger-x {
    display: none;
  }
}

.open .hamburger {
  .hamburger-bars {
    display: none;
  }

  .hamburger-x {
    display: block;
  }

  .nav-menu {
    z-index: 9999;

    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;

    background-color: white;

    a {
      cursor: pointer;
      display: block;
      padding: 1rem;
    }

    a:hover {
      background-color: var(--accent-color-light);
      color: var(--gra-white);
    }
  }
}

/* Animation specific */
.animate-menu {
  position: fixed;
  top: var(--header-size-small);
  right: 0;

  width: 0;
  height: 0;
  visibility: hidden;

  transition: width 0.5s ease-in-out;
}

.open {
  .animate-menu {
    width: min(20rem, 90vw);
    height: 100vh;
    visibility: visible;
  }
}
