.header {
    z-index: 1000;

    position: absolute;
    top: 0;
    left: 0;
    height: var(--header-size);
    padding: 0 var(--global-padding-sides);

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: transparent;

    .logo {
        line-height: 0;

        img {
            height: var(--logo-size);
        }
    }

    .logo:hover {
        filter: brightness(150%);
    }

    a {
        text-decoration: none;
        font-size: 1.125rem;
    }

    .nav-links {
        display: flex;
        list-style: none;
        padding: 0;
        gap: 2rem;
    }
}

.header.compact {
    height: var(--header-size-small);
}

.sticky .header {
    position: fixed;
    background-color: var(--gra-white);
    opacity: 0.9;
    margin: 0;
    height: var(--header-size-small);
}
