.header {
    
    z-index: 1000;
    padding: var(--global-padding-sides);

    position: absolute;
    top: 0;
    left: 0;
    height: var(--header-size);

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: transparent;

    .logo {
        line-height: 0;

        img {
            height: var(--logo-size);
        }
    }

    .logo:hover {
        filter: brightness(150%);
    }

    a {
        text-decoration: none;
        font-size: 1.125rem;
    }

    .nav-links {
        display: flex;
        list-style: none;
        padding: 0;
        gap: 2rem;
    }
}


.sticky .header {
    position: fixed;
    background-color: var(--gra-white);
    margin: 0;
}

/* State for closed mobile header. */
.header.mobile {

    .hamburger-bars {
        cursor: pointer;
    }
    .hamburger-x {
        display: none;
        cursor: pointer;
    }
} 

/* State for open mobile header. */
.open .header { 
    .nav-links {
        display: flex;
    }
    .hamburger-bars {
        display: none;
    }
    .hamburger-x {
        display: block;
    }
}

@media (max-width: 768px) {

    .open .header .nav-links{
        .nav-links {
            display: flex;
        }
    }

    .header .nav-links {
        display: none;
        flex-direction: column;
        justify-content: end;
        text-align: center;
        gap: 0;

        position: absolute;
        top: var(--header-size);
        right: 1rem;
        background-color: var(--primary-color-light);
        width: 20rem;
        background: rgba(255, 255, 255, 0.9);
        /* backdrop-filter: blur(50%); */
        border-radius: var(--border-radius-actions);
        overflow: hidden;
        border: 1px solid var(--primary-color-light);
    
        a {
            display: block; /* Make the link fill the entire li */
            padding: 1rem 1.2rem; /* Add padding for larger clickable area */
        }

        a:hover {
            background-color: var(--accent-color-light);
            color: var(--gra-white);
        }
        
    }
}
