.header {

    z-index: 1000;
    padding: var(--global-padding-between)
             var(--global-padding-sides)
             var(--global-padding-sides)
             var(--global-padding-sides);

    position: absolute;
    top: 0;
    left: 0;
    height: var(--header-size);

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: transparent;

    .logo {
        line-height: 0;

        img {
            height: var(--logo-size);
        }
    }

    .logo:hover {
        filter: brightness(150%);
    }

    a {
        text-decoration: none;
        font-size: 1.125rem;
    }

    .nav-links {
        display: flex;
        list-style: none;
        padding: 0;
        gap: 2rem;
    }
}


.sticky .header {
    position: fixed;
    background-color: var(--gra-white);
    opacity: 0.9;
    margin: 0;
    padding: var(--global-padding-sides);
}
