menu-dropdown-component[popover] {
  position: fixed;
  top: calc(1rem + var(--header-size) + var(--gap-small));
  margin: 0 auto;
  width: 96%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  padding: var(--gap-small);
  opacity: 0;
  pointer-events: none;
  /* transition: opacity 0.2s ease-out, transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}

menu-dropdown-component:popover-open {
  opacity: 1;
  pointer-events: auto;
}

.menu-dropdown .drop-items {
  display: flex;
  flex-direction: column;
  gap: var(--gap-tiny);
}

.menu-dropdown .drop-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: calc(1rem - 1px);
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-primary);
  /* transition: background-color 0.2s ease, border-color 0.2s ease; */
  border-color: color-mix(in srgb, var(--glass-border) 10%, var(--color-text-heading) 10%);
}

.menu-dropdown .drop-item:hover,
.menu-dropdown .drop-item:focus {
  border-color: color-mix(in srgb, var(--glass-border) 70%, var(--color-text-heading) 30%);
  background-color: color-mix(in srgb, var(--glass-bg) 90%, white 10%);
}

.menu-dropdown .drop-item.active {
  font-weight: 600;
  color: var(--color-text-heading);
  background-color: var(--white);
  border-color: color-mix(in srgb, var(--glass-border) 70%, var(--color-text-heading) 30%);
}

.menu-dropdown .drop-action {
  padding-top: var(--gap-small);
  border-top: 1px solid var(--glass-border);
  display: flex;
  justify-content: center;
}

.menu-dropdown .drop-action .button {
  width: 100%;
  justify-content: center;
}
