.work-experience-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  h2,
  h3 {
    text-align: center;
  }
}

.work-experience-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  padding: 0;

  ul {
    list-style: square;
    padding-left: 2rem;
    li {
      padding-bottom: 0.5rem;
    }
  }
}

.work-experience-technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--gap-small);

  span {
    font-size: 0.7rem;
    padding: 0.5rem;
    background-color: var(--color-surface-color);
    border-radius: var(--border-radius-lg);
    box-shadow: var(--shadow-md);
    color: var(--color-primary);
  }
}

/* min-width: var(--breakpoint-md) */
@media (min-width: 768px) {
  .work-experience-container {
    max-width: var(--breakpoint-md);
    margin-left: auto;
    margin-right: auto;
  }
}
