.button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius-actions);
    cursor: pointer;
    outline: none;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    scale: 1.05;
}

.button:active {
    scale: 0.95;
}
