.hero {
  width: 100%;
  height: calc(100dvh - var(--header-size));
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hero-heading {
  text-align: center;
}

.hero-image {
  width: 100%;
  max-width: 40rem;
  height: auto;
}
