.section.page {
  max-width: 1000px;
  margin: 2rem auto;

  -webkit-box-shadow: 0 -2px 20px rgba(0, 45, 91, 0.1);
  -moz-box-shadow: 0 -2px 20px rgba(0, 45, 91, 0.1);
  box-shadow: 0 -2px 20px rgba(0, 45, 91, 0.1);
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  /* max-width: 100%;
  margin: auto;
  box-shadow: none; */

  padding: var(--global-padding-between) var(--global-padding-sides);

  p.large {
    text-align: center;
  }
}

.textured-back {
  background: radial-gradient(circle, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    radial-gradient(circle, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-position: 0 0, 5px 5px;
  background-size: 10px 10px;
}
