:root {
  --button-transition: all 0.15s ease-in-out;
  --border-radius-button: 8px;
  --button-padding: 0.5rem 1rem;

  --outline-color: rgba(45, 74, 119, 0.5); /* Default outline color */
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--button-padding);

  text-align: center;
  text-decoration: none;
  border-radius: var(--border-radius-button);
  cursor: pointer;
  outline: none;
  transition: var(--button-transition);
  user-select: none;
  border: 1px solid transparent;
}

.button-primary {
  color: var(--white-color);
  background-color: var(--primary-dark-color);
  border-color: var(--primary-dark-color);
}

.button-primary:hover {
  filter: brightness(1.2);
  color: var(--white-color);
}

.button-primary:active {
  filter: brightness(0.8);
}

.button-primary:focus-visible {
  outline: 2px solid var(--outline-color);
}

.button-secondary {
  color: var(--primary-dark-color);
  background-color: transparent;
  border-color: var(--primary-dark-color);
}

.button-secondary:hover {
  background-color: var(--primary-dark-color);
  color: var(--white-color);
}

.button-secondary:active {
  background-color: var(--primary-light-color);
  color: var(--text-color);
}

.button-secondary:focus-visible {
  outline: 2px solid var(--outline-color);
}

.button-action {
  color: var(--white-color);
  background-color: var(--accent-light-color);
  border-color: var(--accent-light-color);
  transform: scale(1);
  padding: var(--button-padding);
  font-size: var(--button-font-size);
}

.button-action:hover {
  color: var(--white-color);
  filter: brightness(1.1);
}

.button-action:active {
  background-color: var(--accent-light-color);
  filter: brightness(0.9);
}

.button-action:focus-visible {
  outline: 3px solid var(--outline-color);
}

.button-tertiary {
  color: var(--text-color);
  background-color: transparent;
  border: 2px solid var(--grey-color);
}

.button-tertiary:hover {
  background-color: var(--grey-color);
  color: var(--black-color);
}

.button-tertiary:active {
  background-color: var(--neutral-light-color);
  border-color: var(--neutral-dark-color);
}

.button-tertiary:focus-visible {
  outline: 2px solid var(--outline-color);
}

.button-link {
  color: var(--primary-dark-color);
  background-color: transparent;
  border: none;
  text-decoration: none;
  padding: 0;
}

.button-link:hover {
  color: var(--accent-light-color);
  background-color: transparent;
}

.button-link:focus-visible {
  outline: 2px solid var(--outline-color);
}
