.cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  justify-content: center;
  gap: 2rem;
  padding: 1rem;

  .card-image {
    height: 10rem;
    width: auto;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  background-color: var(--gra-white);
  box-shadow: 0 -1px 1rem rgba(0, 45, 91, 0.1);

  p {
    text-align: center;
  }

  img,
  a {
    margin: 1rem;
  }
}
