body {
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
i,
label {
  color: var(--primary-dark-color);
}

i:hover,
a:hover {
  color: var(--accent-light-color);
}

.footer {
  background-color: var(--primary-dark-color);
}

.footer *,
.working-process * {
  color: var(--white-color);
}

li::marker {
  color: var(--accent-light-color);
}
