body {
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
i,
label {
  color: var(--primary-color-dark);
}

i:hover,
a:hover {
  color: var(--accent-color-light);
}

.footer {
  background-color: var(--primary-color-dark);
}

.footer *,
.working-process * {
  color: var(--gra-white);
}

li::marker {
  color: var(--accent-color-light);
}
