/* Customize the selection color */
::selection {
  background-color: var(--accent-color-light);
  color: var(--gra-white);
}

/* For webkit browsers like Chrome and Safari */
::-webkit-selection {
  background-color: var(--accent-color-light);
  color: var(--gra-white);
}
