.header {
  z-index: 1000;

  position: sticky;
  top: 0;

  border-bottom: 1px solid var(--primary-dark-color-10);

  background-color: var(--white-color);
  height: var(--header-size);

  padding: 0 var(--global-padding-sides);

  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: contents;
    line-height: 0;

    img {
      height: var(--logo-size);
    }
  }

  /* TODO: fix this for web bites */
  /* .logo-name {
    padding-left: 0.5rem;
    color: var(--primary-dark-color);
    cursor: pointer;
  } */

  a {
    text-decoration: none;
  }

  .gra-nav,
  .nav-menu {
    display: contents;
  }

  .menu-checkbox,
  label {
    display: none;
  }

  .nav-links {
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 2rem;

    a:hover {
      transform: scale(1.05);
    }
  }

  .nav-link.active {
    font-weight: bold;
    border-bottom: 2px solid var(--accent-light-color);
  }
}

@media (max-width: 768px) {
  .header {
    label {
      z-index: 10;
      display: contents;
      cursor: pointer;

      :hover {
        transform: scale(1.05);
      }
    }

    .nav-menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;

      position: fixed;
      top: var(--header-size);
      right: -16rem;
      width: 16rem;
      color: var(--white-color);
      text-align: center;

      border-radius: 1px;
      border: 1px solid var(--white-color);

      transition: transform 0.3s ease-in-out;

      .nav-links {
        display: block;

        .nav-link {
          padding: 1rem;
        }

        a {
          display: flex;
          justify-content: center;
          color: var(--white-color);
          border-bottom: 1px solid var(--primary-light-color-10);
          &:hover {
            transform: none;
            background-color: var(--primary-dark-color-10);
          }
        }
      }

      .nav-action {
        display: inline-block;
        margin: 1rem;
        align-self: center;
      }
    }

    /* Open the menu when checked */
    .menu-checkbox:checked ~ .nav-menu {
      transform: translateX(-100%);
    }

    input[type="checkbox"]:checked + label {
      color: var(--accent-light-color);
    }
  }
}
