.header {
  z-index: 1000;

  position: sticky;
  top: 0;
  margin: 0;

  box-shadow: 0 1px 10px rgba(0, 45, 91, 0.2), 0 1px 10px rgba(0, 45, 91, 0.15);
  background-color: var(--gra-white);

  width: 100%;
  height: var(--header-size);

  padding: 0 var(--global-padding-sides);

  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: contents;
    line-height: 0;

    img {
      height: var(--logo-size);
    }
  }

  .logo-name {
    padding-left: 0.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--primary-color-dark);
    cursor: pointer;
  }

  .logo:hover {
    filter: brightness(150%);
  }

  a {
    text-decoration: none;
  }

  .gra-nav {
    display: contents;
  }

  .nav-menu {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 2rem;

    .nav-links {
      flex: 1;
      text-align: center;

      a {
        margin: 0 1rem;
      }
    }
  }

  .menu-checkbox,
  label {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    justify-content: space-between;

    label {
      z-index: 10;
      display: block;
      cursor: pointer;
      user-select: none;
      font-size: 3rem;
      height: 5rem;
      color: var(--primary-color-dark);
      transition: color 1s ease;
    }

    label:hover {
      color: var(--accent-color-light);
    }

    .gra-nav {
      display: flex;
    }

    .nav-menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      gap: 0;

      position: fixed;
      top: 0;
      right: -16rem;
      width: 16rem;
      height: 100%;
      background-color: var(--primary-color-dark);
      color: var(--gra-white);
      padding-top: 4rem;
      text-align: center;

      transition: transform 0.3s ease-in-out;

      .nav-links {
        flex: 0;
        a {
          color: var(--gra-white);
          border-bottom: 1px solid rgba(255, 255, 255, 0.05);
          display: block;
          margin: 0;
          padding: 1rem;
          &:hover {
            background-color: var(--accent-color-light);
          }
        }
      }

      .nav-action {
        display: inline-block;
        margin-top: 1.5rem;
        align-self: center;
      }
    }

    /* Open the menu when checked */
    .menu-checkbox:checked ~ .nav-menu {
      transform: translateX(-100%);
    }

    input[type="checkbox"]:checked + label {
      color: var(--accent-color-light);
    }
  }
}
