html {
    scroll-behavior: smooth;
}

body {
    padding-top: var(--header-size);
}

.hero {
    height: calc(100vh - var(--header-size));
}

section {
    padding: 4rem 2rem; 
}

.footer {
    height: 10rem;
}

@media screen and (max-width: 768px) {
    section {
        padding: 3rem 1rem; 
    }
}
