.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    padding: 4rem var(--global-padding);

    h5 {
        text-align: center;
    }
}

.section {
    background-image: url("../../assets/images/background.jpeg");
    background-size: cover;
    background-position: bottom right;
}

.section.services {
    background-image: url("../../assets/images/grey-waves.jpeg");
}

@media (max-width: 768px) {
    .section { 
        background-image: url("../../assets/images/grey-waves.jpeg");
    }
}
