.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: var(--global-padding-between) var(--global-padding-sides);
}

.section {
    /* background-image: url("../../assets/images/background.jpeg"); */
    background-size: cover;
    background-position: bottom right;

    p.large {
        text-align: center;
    }
}

.section.services, .section.contact {
    background-image: url("../../assets/images/grey-waves.jpeg");
}

@media (max-width: 768px) {
    .section { 
        background-image: url("../../assets/images/grey-waves.jpeg");
    }
}
