.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: var(--global-padding-between) var(--global-padding-sides);

    p.large {
        text-align: center;
    }
}

.section.services {
    background-image: url("../../assets/images/grey-waves.jpeg");
    background-size: cover;
    background-position: bottom right;
}
