/* Shared */
@import "../assets/fonts/montserrat-v29-latin/fonts-montserrat.css";
@import "../shared/css/reset.css";
@import "../shared/css/debug.css";
@import "../shared/css/variables.css";
@import "../shared/css/colors.css";
@import "../shared/css/scroll.css";
@import "../shared/css/buttons.css";
@import "../shared/css/images.css";
@import "../shared/css/selection.css";
@import "../shared/css/typography.css";
@import "../shared/components/header/header.css";
@import "../shared/components/progress/progress.css";
@import "../shared/components/footer/footer.css";
@import "../shared/css/cards.css";

/* Palette */
@import "./palette.css";

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
