.contact-form {
  background-color: var(--color-surface);
  box-shadow: var(--shadow-sm);
  padding: var(--padding-block) var(--padding-inline);
  width: min(100%, var(--breakpoint-lg));
  border-radius: var(--border-radius);
  margin-left: auto;
  margin-right: auto;

  button {
    align-self: center;
    margin-top: var(--gap-tiny);
  }

  h2 {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  input,
  textarea {
    caret-color: var(--color-primary);
    width: 100%;
    padding: var(--gap-tiny);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    background-color: var(--color-background);
    margin-bottom: 1rem;
    resize: none;
  }

  input:focus,
  textarea:focus {
    border-color: var(--color-primary);
    outline: none;
    background-color: var(--color-background);
  }
}
