.contact-form {
  background-color: var(--color-surface);
  box-shadow: var(--shadow-sm);
  padding: var(--padding-block) var(--padding-inline);
  border-radius: var(--border-radius);
  width: min(100%, 1000px);

  button {
    align-self: center;
    margin-top: 0.5rem;
  }

  h2 {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  input,
  textarea {
    caret-color: var(--color-primary);
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--color-surface);
    border-radius: var(--border-radius);
    background-color: var(--color-background);
    margin-bottom: 1rem;
    resize: none;
    border: 1px solid var(--color-border);
  }

  input:focus,
  textarea:focus {
    border-color: var(--color-primary);
    outline: none;
    background-color: var(--color-background);
  }
}

@media (max-width: 768px) {
  .contact-form {
    padding: 2rem;
  }
}
