.header {
  z-index: 1000;
  width: 96%;
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);

  height: var(--header-size);
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--border-radius);

  transition: background-color var(--transition-duration) ease-in-out;
}

.header .logo {
  display: flex;
  align-items: center;
  margin-right: var(--gap);
}
.header .logo svg {
  width: var(--logo-size, 2rem);
  height: var(--logo-size, 2rem);
  color: var(--color-primary);
}
.header .logo-name {
  font-weight: 600;
  color: var(--color-text-heading);
}

.header a {
  text-decoration: none;
}

.header .main-nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--gap);
}

.header .nav-links-full {
  display: none;
}

.header .nav-controls-condensed {
  display: flex;
  align-items: center;
  position: relative;
}

.header .menu-toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
  padding: 0.5rem;
  color: var(--color-primary);
}

.header .menu-toggle-button svg {
  width: 2rem;
  height: 2rem;
}

@media (min-width: 768px) {
  .header {
    width: min(90%, var(--breakpoint-xl));
  }
  .header .nav-links-full {
    display: flex;
    align-items: center;
    gap: var(--gap);
  }
  .header .nav-links-full .nav-link {
    text-decoration: none;
    padding: 0;
    font-weight: 500;
    color: var(--color-primary);
  }
  .header .nav-links-full a.nav-link.active {
    font-weight: 600;
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-accent);
    background: none;
  }
  .header .nav-controls-condensed {
    display: none;
  }
}
