/* Reset or Normalize styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset default margins and padding */
body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
