/* CSS variables (custom properties) */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); */
:root {
    /* sizes */
    --header-size: 3rem;
    --footer-size: 10rem;
    --logo-size: 2.8rem;

    /* padding */
    --global-padding-sides: 2rem;
    --global-padding-between: 4rem;

    /* logos, buttons, links */
    --border-radius-actions: 0.35rem;
    
    /* images, backgrounds, cards */
    --border-radius-arts: 1.25rem;
}

@media (max-width: 768px) {
    :root {
        --global-padding-sides: 1rem;
    }
}
