/* CSS variables (custom properties) */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); */
:root {
    /* sizes */
    --footer-size: 10rem;
    --hero-size: 100vh;

    /* header size */
    --header-size: 5rem;

    /* logo size */
    --logo-size: 4rem;

    /* padding */
    --padding-sides: 8vw;

    /* logos, buttons, links */
    --border-radius-actions: 0.35rem;
    
    /* images, backgrounds, cards */
    --border-radius-arts: 5%;
}
