/* CSS variables (custom properties) */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); */
:root {
  /* sizes */
  --header-size: 4rem;
  --footer-size: 10rem;
  --logo-size: 2.8rem;

  /* padding */
  --global-padding-sides: 2rem;
  --global-padding-between: 3rem;

  /* logos, buttons, links */
  --border-radius-button: 0.35rem;
}

@media (max-width: 768px) {
  :root {
    --global-padding-sides: 1rem;
  }
}
