.palette {
  height: var(--content-min-height);
  background: linear-gradient(90deg, var(--grid-line) 1px, transparent 1px),
    linear-gradient(var(--grid-line) 1px, transparent 1px), var(--grid-bg);
  background-size: 1rem 1rem;
}

.palette-colors,
.palette-buttons {
  width: min(100%, 1000px);
}

.circle {
  display: inline-flex;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  border: 1px solid black;
}
.primary-dark-circle {
  background-color: var(--primary-dark);
}
.primary-light-circle {
  background-color: var(--primary-light);
}
.accent-dark-circle {
  background-color: var(--accent-dark);
}
.accent-light-circle {
  background-color: var(--accent-light);
}
.text-circle {
  background-color: var(--color-text);
}
.white-circle {
  background-color: var(--white);
}
.black-circle {
  background-color: var(--black);
}
