hamburger-component,
.hamburger {
  display: contents;
}

.menu-checkbox {
  display: none;
}

.menu-icon {
  z-index: 2;
  display: inline-block;
  cursor: pointer;
  user-select: none;

  font-size: 3rem;
  height: 5rem;

  color: var(--primary-color-dark);
  transition: color 1s ease;
}

.menu-icon:hover {
  color: var(--accent-color-light);
}

.menu-list {
  z-index: 1;

  position: fixed;
  top: 0;
  right: 0;
  width: 16rem;
  height: 100%;
  background-color: var(--primary-color-dark);
  color: var(--gra-white);
  padding-top: 4rem;
  text-align: center;

  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.menu-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  a {
    color: var(--gra-white);
    text-decoration: none;
    display: block;
    padding: 1rem;
  }

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: var(--accent-color-light);
  }
}

/* Open the menu when checked */
.menu-checkbox:checked ~ .menu-list {
  transform: translateX(0);
}

input[type="checkbox"]:checked + label {
  color: var(--accent-color-light);
}
