.section {
  box-shadow: var(--box-shadow);

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* max-width: 100%;
  margin: auto;
  box-shadow: none; */
  padding: var(--global-padding-between) var(--global-padding-sides);
}
