:root {
  --button-transition: all 0.15s ease-in-out;
  --button-padding: 0.5rem 1rem;
}

/* Base button */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--button-padding);
  text-align: center;
  text-decoration: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  outline: none;
  transition: var(--button-transition);
  user-select: none;
  border: 1px solid transparent;
  min-width: 10rem;
}

/* Primary button */
.button-primary {
  color: var(--white);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.button-primary:hover {
  filter: brightness(1.2);
  color: var(--white);
}

.button-primary:active {
  filter: brightness(0.8);
}

.button-primary:focus-visible {
  outline: 2px solid var(--color-primary);
}

/* Secondary button */
.button-secondary {
  color: var(--color-primary);
  background-color: transparent;
  border-color: var(--color-primary);
}

.button-secondary:hover {
  background-color: var(--color-primary);
  color: var(--white);
}

.button-secondary:active {
  background-color: var(--color-primary-10);
  color: var(--color-text);
}

.button-secondary:focus-visible {
  outline: 2px solid var(--color-primary);
}

/* Action button */
.button-action {
  color: var(--white);
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.button-action:hover {
  color: var(--white);
  filter: brightness(1.1);
}

.button-action:active {
  background-color: var(--accent-light);
  filter: brightness(0.9);
}

.button-action:focus-visible {
  outline: 2px solid var(--color-accent);
}
