body {
  background-color: var(--color-background);
  color: var(--color-text-body);
}

h1 {
  color: var(--color-primary);
}

h2,
h3,
h4,
h5,
h6,
a,
label {
  color: var(--color-text-heading);
}

p,
div,
span {
  color: var(--color-text-body);
}

li::marker {
  color: var(--color-accent);
}
