body {
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
label {
  color: var(--primary-dark-color);
}

.footer {
  background-color: var(--primary-dark-color);
}

.footer * {
  color: var(--white-color);
}

li::marker {
  color: var(--accent-light-color);
}
