@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  /* Define the entire range of weights this single file supports */
  font-weight: 400 700;
  src: url('../assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype-variations');
}

/* You can keep your fallback font rule as is */
@font-face {
  font-family: 'Montserrat Fallback';
  src: local('Arial');
  ascent-override: 92.5%;
  descent-override: 22.5%;
  line-gap-override: 0%;
  size-adjust: 105%;
}
