svg {
  width: var(--icon-size);
  height: var(--icon-size);
  /* display: inline-block;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  flex-shrink: 0; */
}

.enable-icon-scale {
  transition: transform 0.3s ease;
}

.enable-icon-scale:hover {
  transform: scale(1.1);
}
