/* Reset or Normalize styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset default margins and padding */
body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

/* These elements inside form doesn't inherit font  */
button,
input,
textarea {
  font-family: var(--font-family);
}

html,
body {
  -webkit-text-size-adjust: 100%;
}
