:root {
  --hue-primary: 221;
  --hue-accent: 357;
}

/* ---------------- LIGHT THEME ---------------- */
:root {
  --theme-background-values: var(--hue-primary), 35%, 97%;
  --theme-surface-values: var(--hue-primary), 10%, 99%;
  --theme-primary-values: var(--hue-primary), 45%, 32%;
  --theme-accent-values: var(--hue-accent), 85%, 48%;
  --theme-text-heading-values: var(--hue-primary), 45%, 25%;
  --theme-text-body-values: var(--hue-primary), 15%, 35%;
}

/* ---------------- DARK THEME ---------------- */
:root[data-theme='dark'] {
  --theme-background-values: var(--hue-primary), 15%, 12%;
  --theme-surface-values: var(--hue-primary), 15%, 18%;
  --theme-primary-values: var(--hue-primary), 65%, 60%;
  --theme-accent-values: var(--hue-accent), 60%, 50%;
  --theme-text-heading-values: var(--hue-primary), 20%, 90%;
  --theme-text-body-values: var(--hue-primary), 15%, 75%;
}

/* ---------------- PASTEL THEME ---------------- */
:root[data-theme='pastel'] {
  --theme-background-values: var(--hue-primary), 60%, 95%;
  --theme-surface-values: var(--hue-primary), 50%, 98%;
  --theme-primary-values: var(--hue-primary), 70%, 75%;
  --theme-accent-values: var(--hue-accent), 65%, 75%;
  --theme-text-heading-values: var(--hue-primary), 40%, 30%;
  --theme-text-body-values: var(--hue-primary), 25%, 40%;
}

/* ---------------- SEMANTIC COLORS ---------------- */
:root {
  --color-background: hsl(var(--theme-background-values));
  --color-surface: hsl(var(--theme-surface-values));
  --color-primary: hsl(var(--theme-primary-values));
  --color-accent: hsl(var(--theme-accent-values));
  --color-text-heading: hsl(var(--theme-text-heading-values));
  --color-text-body: hsl(var(--theme-text-body-values));

  /* Derived Utilities */
  --color-border: hsla(var(--theme-text-body-values), 0.25);
  --color-overlay: hsla(var(--theme-primary-values), 0.6);

  /* Transparent strikes */
  --color-primary-soft: hsla(var(--theme-primary-values), 0.05);
  --color-accent-soft: hsla(var(--theme-accent-values), 0.05);

  --shadow-sm: 0 1px 2px hsla(var(--theme-primary-values), 0.1);
  --shadow-md: 0 4px 12px hsla(var(--theme-primary-values), 0.15);
  --shadow-lg: 0 12px 24px hsla(var(--theme-primary-values), 0.2);

  /* Utility Constants */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  /* Glass */

  /* --bg-base: #f5f7fb;
  --bg-accent-1: #93c5fd;
  --bg-accent-2: #a5f3fc; */
  --glass-bg: rgba(255, 255, 255, 0.65);
  --glass-border: rgba(0, 0, 0, 0.08);
  --glass-shadow: 0 1rem 10rem rgba(0, 0, 0, 0.1);
  --glass-saturate: 140%;
  /* --text-primary: #0b0b12;
  --text-secondary: rgba(0, 0, 0, 0.75);
  --btn-primary-bg: linear-gradient(135deg, #2563eb, #06b6d4);
  --btn-glass-bg: rgba(255, 255, 255, 0.45); */
}
