/* Base typography rules (font-family, size, weight, line-height, letter spacing.) */
html {
  font-size: clamp(15px, 2vw, 18px); /* standard between 14px and 18px */
  font-style: regular;
  font-family: var(--font-family);
}

/* Headings */
h1 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1.2;
}
h2 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.35;
}
h3 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

/* Paragraphs */
p,
li,
span {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.6;
}
a.large,
p.large,
span.large {
  font-size: 1.2rem;
  letter-spacing: -0.01em;
  font-weight: 500;
}
a.small,
p.small,
span.small {
  font-size: 0.875rem;
  line-height: 1.5;
}

/* Buttons, Links */
a,
button,
.button {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.6;
}

/* Form Elements */
label {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 1.5;
}

input,
textarea {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.2;
}

input::placeholder,
textarea::placeholder {
  font-size: 0.8rem;
  letter-spacing: 0em;
  line-height: 1;
}
