/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-size);
}

/* Customize the selection color */
::selection {
  background-color: var(--color-accent);
  color: var(--color-surface);
}

/* Background texture */
.bg-texture {
  background-image: radial-gradient(circle, var(--color-primary) 1%, transparent 4%);
  background-size: 1rem 1rem;
  background-repeat: repeat;
}

/* Background test */
.bg-new {
  background-color: var(--color-background);
  border-radius: var(--border-radius);
}
