:root {
  --font-family: 'Montserrat', 'Montserrat Fallback', sans-serif;

  /* Breakpoints for min-width (Mobile-First approach) */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  /* sizes */
  --header-size: 4rem;
  --footer-size: 8rem;
  --logo-size: 3rem;
  --content-min-height: calc(100svh - var(--header-size) - var(--footer-size));

  /* logos, buttons, links */
  --border-radius: 0.5rem;
  /* images */
  --border-radius-lg: 1rem;

  /* Padding */
  --padding-inline: 1rem;
  --padding-block: 3rem;

  --gap-tiny: 0.5rem;
  --gap-small: 1rem;
  --gap-med: 1.5rem;
  --gap: 2rem;
  --gap-large: 4rem;
}

/* min-width: var(--breakpoint-md) */
@media (min-width: 768px) {
  :root {
    --padding-inline: 2rem;
    --padding-block: 4rem;
  }
}
