:root {
  --font-family: 'Montserrat', 'Montserrat Fallback', sans-serif;

  /* sizes */
  --header-size: 4rem;
  --footer-size: 8rem;
  --logo-size: 3rem;
  --content-min-height: calc(100svh - var(--header-size) - var(--footer-size));

  /* logos, buttons, links */
  --border-radius: 0.5rem;

  /* Padding */
  --padding-inline: 1rem;
  --padding-block: 4rem;

  --gap-tiny: 0.5rem;
  --gap-small: 1rem;
  --gap: 2rem;
  --gap-large: 4rem;
}

@media (min-width: 768px) {
  :root {
    --padding-inline: 2rem;
  }
}
