:root {
  --font-family: 'Montserrat', 'Montserrat Fallback', sans-serif;

  /* colors */
  --primary-dark-color: hsl(221, 45%, 32%);
  --primary-light-color: hsl(217, 43%, 93%);
  --primary-light-color-10: hsla(217, 43%, 93%, 0.1);

  --primary-dark-color-10: hsla(217, 45%, 32%, 0.1);
  --primary-dark-color-50: hsla(217, 45%, 32%, 0.5);
  --primary-dark-color-80: hsla(217, 45%, 32%, 0.8);

  --box-shadow-color: hsla(208, 100%, 18%, 0.1);

  --neutral-dark-color: hsl(10, 82%, 86%);
  --neutral-light-color: hsl(20, 100%, 98%);

  --accent-dark-color: hsl(357, 71%, 50%);
  --accent-light-color: hsl(357, 85%, 52%);

  --text-color: hsl(217, 17%, 47%);
  --white-color: hsl(0, 0%, 100%);
  --grey-color: hsl(0, 0%, 88%);
  --black-color: hsl(0, 0%, 0%);

  /* sizes */
  --header-size: 4rem;
  --footer-size: 10rem;
  --logo-size: 3rem;

  /* padding */
  --global-padding-sides: 2rem;
  --global-padding-between: 4rem;

  /* logos, buttons, links */
  --border-color: var(--primary-light-color);
  --border-radius: 0.5rem;

  /* Other */
  --box-shadow: 0 -1px 1rem var(--box-shadow-color);
  --box-shadow-darker: 0 -5px 5rem var(--box-shadow-color);
}

@media (max-width: 768px) {
  :root {
    --global-padding-sides: 1rem;
  }
}
