.cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  justify-content: center;
  gap: 2rem;
  padding: 1rem;

  .card-image {
    width: 90%;
  }

  a {
    width: 2rem;
    height: 2rem;
  }
}

.card {
  background: radial-gradient(circle, var(--primary-dark-color) 2%, transparent 3%);
  background-size: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: var(--box-shadow);

  p {
    text-align: center;
  }

  img,
  a {
    margin: 1rem;
  }
}
