.grid-container {
  width: min(100%, 1200px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.column-container {
  width: min(100%, 1200px);
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.compact-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 1.5rem;
  flex-basis: 18rem;
  flex-grow: 1;
  max-width: 20rem;
  text-align: center;
}
.compact-card .card-image img {
  display: block;
  width: 100%;
  height: 10rem;
  object-fit: contain;
}
.compact-card .card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.75rem;
  align-items: center;
}
.compact-card .card-content .button,
.compact-card .card-content .icon {
  margin-top: auto;
}

.feature-row {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.feature-row .card-image {
  border-radius: var(--border-radius);
  overflow: hidden;
}
.feature-row .card-image img {
  display: block;
  width: 100%;
  min-height: 20rem;
  object-fit: cover;
}
.feature-row .card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.feature-row .card-content h2 {
  margin: 0;
}
.feature-row .card-content .button-group {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

@media (min-width: 48rem) {
  .feature-row {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    text-align: left;
  }
  .feature-row.image-right {
    flex-direction: row-reverse;
  }
  .feature-row .card-image {
    flex: 2;
  }
  .feature-row .card-content {
    flex: 3;
    align-items: flex-start;
  }
}
