.cards-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  flex: 1 1 20rem; /* Cards expand but do not shrink below 20rem */
  max-width: 20rem; /* Prevents cards from becoming too wide */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: var(--box-shadow);

  &:hover {
    box-shadow: var(--box-shadow-darker);
  }

  .card-image {
    width: 90%;
  }

  p {
    text-align: center;
  }

  img,
  a {
    margin: 1rem;
  }
}
