.gra-separator {
  border-top-width: 2px;
  border-top-style: solid;
  width: 6rem;
  border-top-color: var(--accent-light-color);
}

.bg-laptop {
  background-image: url("../../images/laptop.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60rem;
}

.bg-texture {
  background-image: radial-gradient(circle, var(--primary-dark-color) 2%, transparent 3%);
  background-size: 1rem 1rem;
  background-repeat: repeat;
}

.bg-laptop-with-texture {
  background-image: url("../../images/laptop.png"),
    radial-gradient(circle, var(--primary-dark-color) 2%, transparent 3%);
  background-position: center center, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: 60rem, 1rem 1rem;
}

.bg-working-girl {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/working-girl.jpeg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 30rem;
  /* transition: background-position 0.1s ease-out; */
}

@media (max-width: 768px) {
  .bg-working-girl {
    background-attachment: scroll; /* Fallback for mobile devices */
    min-height: 20rem;
  }
}
