.gra-separator {
  border-top-width: 2px;
  border-top-style: solid;
  width: 6rem;
  border-top-color: var(--accent-light-color);
}

.bg-laptop {
  background-image: url("../../images/laptop.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60rem;
}

.bg-texture {
  background-image: radial-gradient(circle, var(--primary-dark-color) 2%, transparent 3%);
  background-size: 1rem 1rem;
  background-repeat: repeat;
}

.bg-laptop-with-texture {
  background-image: url("../../images/laptop.png"),
    radial-gradient(circle, var(--primary-dark-color) 2%, transparent 3%);
  background-position: center center, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: 60rem, 1rem 1rem;
}

.bg-working-girl {
  background: linear-gradient(var(--primary-dark-color-50), var(--primary-dark-color-50)),
    url("../../images/working-girl.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 30rem;

  background-attachment: fixed;
  transition: background-position 0.2s ease-out;
}

@media (max-width: 1000px) {
  .bg-working-girl {
    background-attachment: scroll; /* Fallback for mobile devices */
  }
}

.glass-effect {
  background-color: var(--primary-dark-color-80); /* Use the color with transparency */
  backdrop-filter: blur(1rem); /* Blur the background behind the element */
  box-shadow: var(--box-shadow);
}
