:root {
  /* colors */
  --primary-dark-color: #2d4a77;
  --primary-light-color: #e4ebf5;

  --neutral-dark-color: #fadbd1;
  --neutral-light-color: #fefafa;

  --accent-dark-color: #8a150f;
  --accent-light-color: #e04a50;

  --text-color: #64748b;
  --white-color: #ffffff;
  --grey-color: #e0e0e0;
  --black-color: black;

  /* sizes */
  --header-size: 4rem;
  --footer-size: 10rem;
  --content-min-height: calc(100vh - var(--header-size) - var(--footer-size));
  --logo-size: 2.8rem;

  /* padding */
  --global-padding-sides: 2rem;
  --global-padding-between: 3rem;

  /* logos, buttons, links */
  --border-color: var(--primary-light-color);
  --border-radius: 0.5rem;

  /* Other */
  --box-shadow: 0 -1px 1rem rgba(0, 45, 91, 0.1);
}

main {
  min-height: var(--content-min-height);
}

@media (max-width: 768px) {
  :root {
    --global-padding-sides: 1rem;
  }
}
