.section.about {
  max-width: 1000px;
  margin: auto;
}

.about-me-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.about-me-image {
  width: clamp(350px, 30vw, 600px);
  height: auto;
  border-radius: 8px;
}

.about-me-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

@media (max-width: 768px) {
  .about-me-container {
    flex-wrap: wrap;
    .about-me-image {
      width: clamp(200px, 50vw, 600px);
      height: auto;
    }
    .about-me-content {
      align-items: center;
      text-align: center;
    }
  }
}
