.section.contact {
  max-width: 1000px;
  margin: auto;
}

.contact-form {
  background-color: var(--gra-white);
  /* border: 1px solid var(--gra-grey); */
  /* border-radius: 8px; */
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05); */
  box-shadow: 0 -2px 20px rgba(0, 45, 91, 0.1);

  padding: 2rem;
  width: 100%;
  max-width: 1000px;

  button {
    align-self: center;
  }

  h3 {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .button-link {
    align-self: center;
  }

  input,
  textarea {
    caret-color: var(--primary-color-dark);
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: var(--primary-color-light);
    margin-bottom: 1rem;
    resize: none;
  }

  input:focus,
  textarea:focus {
    border-color: var(--primary-color-dark);
    outline: none;
    background-color: #fff;
  }
}
