.section.contact {
  max-width: 1000px;
  margin: auto;
}

.contact-form {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  padding: 30px;
  width: 100%;
  max-width: 600px;

  button {
    align-self: center;
  }

  h3 {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .button-link {
    align-self: center;
  }

  input {
    margin-bottom: 15px;
  }

  textarea {
    resize: none;
    margin-bottom: 20px;
  }

  input,
  textarea {
    caret-color: var(--primary-color-dark);
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f5f5f5;
    margin-bottom: 15px;
  }

  input:focus,
  textarea:focus {
    border-color: var(--primary-color-dark);
    outline: none;
    background-color: #fff;
  }
}
