.hero {
    position: relative;
}

.content-float {
    position: absolute;
    inset: var(--header-size) 0 0 300px; /* TODO */
    background-image: url("../../assets/images/hero-background.svg");
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    /* border: 1px solid red; */
}

.hero-content {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    height: 100vh;
    gap: 1.5rem;
    padding: var(--global-padding-between) 0 var(--global-padding-between) var(--global-padding-sides);
    .button-link {
        align-self: flex-start;
    }
}

@media (max-width: 768px) {

    .content-float {
        display: none;
        /* border: 2px solid yellow;
        inset: var(--header-size) 0 0 50%;
        background-position: bottom center; */
        /* inset: 0;
        margin: auto; */


    }

    /* .overlay {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
    } */

    .hero-content {
        padding: var(--global-padding-between) var(--global-padding-sides);
        align-items: center;

        .hero-heading {
            text-align: center;
        }

        p.large {
            text-align: center;
        }

        .button-link {
            align-self: center;
        }
    }
}
