section.hero {
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    flex-wrap: no-wrap;

    width: 100%;
    height: calc(100vh - var(--header-size));
}

.hero-left, .hero-left {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.hero-left {
    /* border: 1px solid red; */
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

    gap: 1.5rem;

    min-width: 400px;
    max-width: 800px;

    .button {
        align-self: start;
    }
}

.hero-right {
    /* border: 1px solid blue; */

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    min-width: 400px;
    max-width: 800px;

    .hero-image {
        /* width: clamp(500px, 50vw, 800px); */
        height: clamp(500px, 90vh, 800px);
        object-fit: contain;
    }
}

@media (max-width: 768px) {

    .hero::before {
        content: '';
        position: absolute;
        top: var(--header-size);
        left: 0;
        width: 100%;
        height: calc(100% - var(--header-size));
        background-color: rgba(255, 255, 255, 0.8);
    }

    .hero {
        background-image: url("../../assets/images/hero-background.svg");
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
        background-clip: padding-box;
        background-repeat: no-repeat;
    }

    .hero-left {
        z-index: 1;
        align-items: center;
        .button {
            align-self: center;
        }
    }

    .hero-right {
        display: none;
    }
}
