.hero {
    position: relative;
    width: 100%;
    height: 100vh;
}

.content-float {
    position: absolute;
    inset: var(--header-size) 0 0 20rem;
    background-image: url("../../assets/images/hero-background.svg");
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
}

.hero-content {
    position: absolute;
    inset: var(--header-size) 20rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1.5rem;
    padding: var(--global-padding-between) 0 var(--global-padding-between) var(--global-padding-sides);

    .hero-heading {
        text-align: center;
    }

    .button-link {
        align-self: center;
    }
}

/* @media (max-width: 768px) {} */

/* Styles for portrait orientation */
@media (orientation: portrait) {
    .content-float {
        inset: var(--header-size) 0 60% 0;
        background-position: center center;
    }

    .hero-content {
        inset: 40% 0 0 0;
        justify-content: flex-start;
        padding: 1rem 0 0 0;
    }
}

/* Styles for landscape orientation */
/* @media (orientation: landscape) {

} */