.services {
    background-color: var(--neutral-color-light);
}

.services-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .services-image {
        width: 5rem;
    }

    .work-image {
        width: 50%;
    }

    .work-image:hover {
        filter: brightness(150%);
    }
}

.service-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    padding: 1.4rem 1rem 1rem 1rem;
    width: clamp(25rem, 25%, 30rem); /* Minimum: 200px, Preferred: 50% viewport width, Maximum: 800px */
    overflow: hidden;
    border-radius: var(--border-radius-arts);
    box-shadow: 2px 2px 2px var(--primary-color-light);
    border: 1px solid var(--primary-color-light);
    background-color: var(--gra-white);


    p {
        text-align: center;
    }
}

@media (max-width: 800px) {
    .service-card {
        width: clamp(20rem, 90%, 95rem);
    }
}
