.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .footer-copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}
