.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  box-shadow: var(--box-shadow);
  padding: var(--global-padding-between) var(--global-padding-sides);

  p {
    text-align: center;
  }
}

.section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
