.contact-form {
  box-shadow: var(--box-shadow);
  padding: 2rem 4rem;
  width: min(100%, 1000px);

  button {
    align-self: center;
  }

  h3 {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  input,
  textarea {
    caret-color: var(--primary-dark-color);
    width: 100%;
    padding: 0.6rem;
    border: 1px solid var(--white-color);
    border-radius: 4px;
    background-color: var(--primary-light-color);
    margin-bottom: 1rem;
    resize: none;
  }

  input:focus,
  textarea:focus {
    border-color: var(--primary-dark-color);
    outline: none;
    background-color: var(--white-color);
  }
}
