.icon {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  vertical-align: middle;
}

.work {
  background-size: 1rem 1rem;
}

.magic-row-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.magic-row {
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  gap: 2rem;

  .magic-image,
  .magic-description {
    width: 50%;
  }

  img {
    max-width: 25rem;
    object-fit: cover;
    border-radius: var(--border-radius);
  }
}

.magic-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  .button {
    width: fit-content;
    margin-top: 1rem;
  }
}

@media (max-width: 1000px) {
  .magic-row {
    max-width: 90%;
    justify-content: center;
    flex-wrap: wrap;

    .magic-description,
    .magic-image {
      width: 90%;
      align-items: center;
    }

    img {
      order: -1;
    }

    .magic-description {
      text-align: center;
    }
  }
}
