.hero {
  width: 100%;
  height: calc(100dvh - var(--header-size));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2rem;

  .hero-heading {
    text-align: center;
  }
}

/* Portrait */
@media (orientation: portrait) {
  .hero {
    background: none;
  }
  .hero-portrait {
    display: block;
    overflow: hidden;
    position: relative;
    max-width: 70dvw;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      object-position: bottom center;
      max-width: 25rem;
    }
  }
  .hero-heading h3,
  .hero-heading h4 {
    display: none;
  }
}

/* Landscape */
@media (orientation: landscape) {
  .hero-portrait {
    display: none;
  }
}
