.hero {
  width: 100%;
  height: calc(100dvh - var(--header-size));
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hero-portrait {
  display: none;
}

.hero-heading {
  text-align: center;
}

/* Portrait */
@media (orientation: portrait) {
  .hero-portrait {
    display: block;

    .hero-icon {
      height: 20rem;
      width: auto;
    }
  }

  .hero-heading p.large {
    display: none;
  }
}
