.hero {
  width: 100%;
  height: calc(100dvh - var(--header-size));
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hero-portrait {
  display: none;
}

.hero-heading {
  text-align: center;
}

.hero-image {
  width: 100%;
  max-width: 40rem;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Portrait */
@media (orientation: portrait) {
  .hero-portrait {
    display: block;

    .hero-icon {
      height: 20rem;
      width: auto;
    }
  }

  .hero-heading p.large {
    display: none;
  }
}

.cursor {
  display: inline-block;
  margin-left: 2px;
  animation: blink 1s step-end infinite;
  color: currentColor;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.rotating-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  overflow: hidden;
}

.rotating-subtitle #subtitle,
.rotating-subtitle .cursor {
  font: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  white-space: pre;
}
