.hero {
  width: 100%;
  height: calc(100vh - var(--header-size));

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero-portrait,
.hero-content {
  flex-grow: 1;
}

.hero-portrait img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  object-position: bottom right;
}

.hero-content {
  position: relative;
  left: 20%;

  min-width: 22rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .hero-heading {
    text-align: center;
  }

  .button-link {
    align-self: center;
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .hero-portrait {
      height: 40%;
      overflow: hidden;
    }

    .hero-portrait {
      order: -1;
      img {
        object-position: center center;
      }
    }

    .hero-content {
      left: 0;
      justify-content: flex-start;
    }

    h3,
    h4 {
      display: none;
    }
  }
}
