.work {
  background: radial-gradient(circle, #464646 2%, transparent 3%);
  background-size: 1rem 1rem;
}

.work-row {
  max-width: 1000px;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  gap: 2rem;

  .work-image,
  .work-description {
    width: 50%;
  }

  img {
    display: block;
    object-fit: cover;
  }
}

.work-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  .button-link {
    width: fit-content;
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .work-row {
    max-width: 90%;
    justify-content: center;
    flex-wrap: wrap;

    .work-description,
    .work-image {
      width: 90%;
      align-items: center;
    }

    img {
      order: -1;
    }
  }
}
