.work-experience-container {
  display: flex;
  flex-direction: column;
  max-width: 768px;
}

.work-experience-content {
  margin: 2rem 0;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  ul {
    list-style: square;
    padding-left: 2rem; /* for list bullet */

    li {
      padding-bottom: 0.5rem;
    }
  }
}

.work-experience-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  span {
    padding: 0.5rem;
    background-color: var(--white-color);
    color: var(--primary-dark-color);
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgba(0, 45, 91, 0.1);

    font-size: 0.85rem;
    line-height: 1.5;
  }
}

@media (max-width: 768px) {
  h5 {
    text-align: center;
  }
  .work-experience-content {
    padding: 0;
  }
  .work-experience-technologies {
    justify-content: center;
  }
}
